<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows</TargetFramework>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>..\..\artifacts\publish\win-x64-single-file\</PublishDir>
    <PublishArchivePath>..\..\artifacts\publish\win-x64-single-file.zip</PublishArchivePath>
    <CreatePublishArchive>true</CreatePublishArchive>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>none</DebugType>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
    <RemovePublishSymbols>true</RemovePublishSymbols>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>
